*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: coral;
    height: 30vh;
    width: 100%;
    padding: 0px 10px 0px 10px;
}
.t1{
    background-color:darkgoldenrod;
    height: 26vh;
    width: 20%;
}
.t2{
    background-color:darkgoldenrod;
    height: 26vh;
    width: 50%;
}
.bottom{
    
    display: flex;
    height: 70vh;
    width: 100%;
}
.bleft{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: chartreuse;
    height: 70vh;
    width: 50%;

}
.a1{
    background-color: palevioletred;
    height: 15vh;
    width: 47%;
}
.a2{
    background-color: palevioletred;
    height: 15vh;
    width: 47%;
}
.a3{
    background-color: aliceblue;
    height: 10vh;
    width: 96%;
}
.a4{
    background-color: orangered;
    height: 15vh;
    width: 30%;
}
.a5{
    background-color: orangered;
    height: 15vh;
    width: 30%;
}
.a6{
    background-color: orangered;
    height: 15vh;
    width: 30%;
}
/* .a7{
    background-color: orangered;
    height: 15vh;
    width: 20%;
} */
.a8{
    background-color: burlywood;
    height: 20vh;
    width: 47%;
}
.a9{
    background-color: burlywood;
    height: 20vh;
    width: 47%;
}

.bright{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:aquamarine;
    height: 70vh;
    width: 50%;

}
.a10{
    display: flex;
    justify-content: end;
    background-color: chocolate;
    height: 32vh;
    width: 95%;
}
.a101{
    height: 32vh;
    width: 40%;
    border: 10px;
    border-style:solid;
    border-color: red;
}
.a11{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:cadetblue;
    height: 32vh;
    width: 95%;

}
.a12{
    background-color:rgb(38, 236, 71);
    height: 25vh;
    width: 27%;
}
.a13{
    background-color:rgb(38, 236, 71);
    height: 25vh;
    width: 27%;

}
.a14{
    background-color:rgb(38, 236, 71);
    height: 27vh;
    width: 25%;
}
